$btn-back-color: rgba(152,152,152,255);
$btn-save-color: rgba(250,131,65,255);
$btn-font-size: 18px;
$margin-bottom-default: 40px;
$letter-spacing-default: 1.5px;

.container {
    max-width: 85%;
    margin: 0 auto;
}

.polo__detail {
    margin-top: 58px;
    margin-bottom: 70px;
}

.polo__detail--name {
    letter-spacing: $letter-spacing-default;
    font-weight: 800;
    font-size: 28px;
}

.polo__detail--desc {
    padding-top: 5px;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: $letter-spacing-default;

}

.address {
    margin-bottom: $margin-bottom-default;
}

.address__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
}

.address__detail {
    display: grid;
    grid-template-columns: 1fr 5fr repeat(3, 2fr);
    gap: 20px;
    width: 100%;
}

.company {
    margin-bottom: $margin-bottom-default;
}

.company__text {
    margin: 20px 0 20px 0;
    font-weight: 400;
    font-size: 15px;
}

.company__detail {
    display: grid;
    width: 75%;
    grid-template-columns: 2fr 3fr 3fr 3fr 2fr;
    gap: 20px;
}

.button {
    margin-top: 20px;
}

.button--back {
    width: 80px;
    background-color: $btn-back-color;
    color: white;
    margin-right: 20px;
    height: 45px;
    font-size: $btn-font-size;

}

.button--save{
    width: 140px;
    background-color: $btn-save-color;
    color: white;
    height: 45px;
    font-size: $btn-font-size;
}