<div class="header">
    <div class="header__container">
        <div>
            <div class="logo">
                <img class="logo__itau" src="../../assets/itau-bba-logo.png" >
            </div>
        </div>
        <div class="right-field">
            <div class="translate">
                <button class="translate__button">PT</button>
            </div>
            <div class="user">
                <div class="user__avatar">
                </div>
                <div class="user__info">
                    <div class="user__info--profile">
                        <p class="user__info--name">John Doe</p>
                        <p class="user__info--desc">Diretor Itaú BBA</p>
                    </div>
                    <div class="user-info-arrow">
                        <mat-icon class="user__info--arrow-icon">keyboard_arrow_down</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        
    </div> 
</div>
    


