<div class="header-container">
    <div class="container">
        <div>
            <div class="logo-container">
                <img class="logo-itau" src="../../assets/itau-bba-logo.png" >
            </div>
        </div>
        <div class="right-field">
            <div class="translate-field">
                <button class="translate-button">PT</button>
            </div>
            <div class="user-field">
                <div class="user-avatar">
                </div>
                <div class="user-info">
                    <div class="user-info-desc">
                        <p class="name">John Doe</p>
                        <p class="desc">Diretor Itaú BBA</p>
                    </div>
                    <div class="user-info-arrow">
                        <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>

                    </div>

                </div>
            </div>
        </div>
        
    </div> 
</div>
    


