$header-background: rgba(255,224,204,255);
$avatar-background: rgba(51,51,51,255);
$line-divisor: rgba(255,164,106,255);
$letter-color: #505050;


.header-container {
    background-color: $header-background;
    border-bottom: 3px solid $line-divisor;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 86%;
    margin: 0 auto;
}

.logo-container {
    padding-left: 20px;
    width: 115px;
}

.logo-itau {
    max-width:  100%;
    margin: 30px 0 30px 0;

}

.right-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    overflow: hidden;
}

.translate-field {
    display: grid;
    place-self: center;
    justify-self: end;
    padding-right: 20px;
}

.translate-button {
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    font-weight: 600;
    color: $letter-color;
    border: none;
    &:hover {
        border-radius: 30px;
        background-color: grey;
        transition: 200ms;
        cursor: pointer;
    }
}

.user-field {
    border-left: 1px solid $letter-color;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 50px;
    padding-left: 20px;
}

.user-avatar {
    background-color: rgb(96, 96, 96);
    border-radius: 25px;
    width: 45px;
    height: 45px;
    display: grid;
    align-self: center;
    justify-self: center;
}

.user-info{
    display: grid;
    align-self: center;
    justify-self: end;
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.user-info .user-info-desc .name {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 3px;
}

.user-info .user-info-desc .desc {
    font-weight: 100;
    font-size: 14px;
    opacity: 0.9;
    color: $letter-color;

}

.user-info .user-info-arrow .arrow-icon {
    display: grid;
    justify-content: end;
    margin-top: 7px;
    font-size: 20px;
    margin-left: 10px;
}




