$letter-spacing-default: 1.5px;

.container {
    max-width: 85%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.header__polo--title {
    letter-spacing: $letter-spacing-default;
    font-weight: 800;
    font-size: 28px;
}

.header__polo--desc {
    padding-top: 5px;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: $letter-spacing-default;

}

.header__search--field {
    font-size: 12px;
    margin-top: 20px;
    width: 380px
}


.table {
    width: 100%;
}

.table__th--width {
    width: 30%;
}

.table__th-td--center{
    text-align: center;
}


